################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenGL Projects/.vs/OpenGL Projects/v17/Browse.VC.opendb
